<div class="col-md-2 menu">
    <h2>KPI管理系统</h2>

    <ul>
        <li ng-repeat="menu in vm.menus" ng-click="open(menu)">
            {{menu.name}}
        </li>
    </ul>
</div>
<div class="col-md-10 tabs">
    <ul class="nav nav-tabs">
        <li ng-repeat="tab in vm.tabs" ng-class="{active: tab.select}" role="presentation">
            <a ng-click="select($index)">
                {{tab.name}}
                <i ng-if="tab.id > 0" ng-click="close($index, $event)"
                   class="glyphicon glyphicon-remove"
                   aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <div ui-view></div>
</div>
