html, body {
    height: 100%;
    width: 100%;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

.head {
    position: fixed;
    height: 150px;
    width: 100%;
    float: left;
    z-index: 100;
}

.head .nav-tabs {
    height: 50px;
    padding: 15px 20px 0 20px;
    background-color: #2b579a;
    border-bottom-color: transparent;
}

.head .nav-tabs > li > a {
    color: white;
    margin-left: 5px;
    padding: 6px 25px;
    background-color: #06aab6;
}

.head .nav-tabs > li > a:hover {
    color: black;
    background-color: #e2ecfb;
    border-color: #e2ecfb;
}

.head .nav-tabs > li.active > a,
.head .nav-tabs > li.active > a:visited,
.head .nav-tabs > li.active > a:hover {
    color: black;
    background-color: #e2ecfb;
}

.head .dock {
    height: 100px;
    background-color: #e2ecfb;
    margin-top: -1px;
    border: 1px solid #e2ecfb;
    box-shadow: 0 1px 5px #888888;
}

.head .dock > div {
    float: left;
}

.head .dock > .terminal {
    float: right;
    margin: 32px 12px;
}

.head .dock > .terminal button {
    padding: 6px 25px;
    color: white;
    background-color: #06aab6;
    margin-left: 10px;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 150px;
    border: 1px transparent;
    z-index: 0;
}

.main > .desk {
    height: 100%;
    width: 100%;
    padding: 20px 220px 20px 20px;
    background-color: #eff3fa;
    overflow: scroll;
}

.main > .state {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 150px;
    height: 100%;
    width: 200px;
    background-color: #2f4050;
}

.main > .state ul {
    padding: 0;
    list-style: none;
    color: #d4ddea;
}

.main > .state li {
    padding: 8px 15px;
    line-height: 28px;
    font-size: 12px;
}

.main > .state li:first-child {
    padding-top: 20px;
}

.main > .state li span {
    margin-left: 6px;
}

.main > .state li input,
.main > .state li select {
    height: 28px;
    width: 120px;
    padding-left: 5px;
    float: right;
    border: 1px solid #596877;
    background-color: #263645;
    /*border-radius: 5px;*/
}

.clear {
    clear: both;
}